@charset "utf-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #000814, #001d3d 65%);
}

main{
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 10px 5px 15px #000814;
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 60px;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2em;
    color:#FFD60A ; 
    text-shadow: 1.5px 2px 1px #cca000;
  
}
h2{
    color: #003566;
}
p{
    text-align:justify ;
    text-indent: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    color: #001d3d;
}